<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat</title>
    <link rel="shortcut icon" type="x-icon" href="images/siteimage.jpeg" >
</head>
<body>
    <h1>Video Chat</h1>
    <video id="video" autoplay width="840" height="500"></video>

    <script>
        const videoElement = document.getElementById('video');
        
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                videoElement.srcObject = stream;
            })
            .catch(error => {
                console.error('Error accessing webcam:', error);
            });
    </script>
</body>
</html>
